*.suo
/Crestron Home/.vs/
/Crestron Home/*/bin/
/Crestron Home/*/obj/
/Crestron Home/*/packages/
/Crestron Home/packages/
Crestron Home/Pulse-Eight Neo/.vs/PulseEight.OneIP.IP.csproj.dtbcache.json
Crestron Home/Pulse-Eight Neo/.vs/PulseEight.Neo8.IP.csproj.dtbcache.json
Crestron Home/Pulse-Eight Neo/.vs/PulseEight.Neo6IP.csproj.dtbcache.json
Crestron Home/Pulse-Eight Neo/.vs/PulseEight.Neo4.IP.csproj.dtbcache.json
