<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brand</key>
		<string>Pulse-Eight</string>
		<key>cat</key>
		<string>neo Matrix Family</string>
		<key>codes</key>
		<dict>
			<key>INPUT 1 TO OUTPUT 1</key>
			<string>GET /Port/Set/0/0</string>
			<key>INPUT 1 TO OUTPUT 2</key>
			<string>GET /Port/Set/0/1</string>
			<key>INPUT 1 TO OUTPUT 3</key>
			<string>GET /Port/Set/0/2</string>
			<key>INPUT 1 TO OUTPUT 4</key>
			<string>GET /Port/Set/0/3</string>
			<key>INPUT 1 TO OUTPUT 5</key>
			<string>GET /Port/Set/0/4</string>
			<key>INPUT 1 TO OUTPUT 6</key>
			<string>GET /Port/Set/0/5</string>
			<key>INPUT 1 TO OUTPUT 7</key>
			<string>GET /Port/Set/0/6</string>
			<key>INPUT 1 TO OUTPUT 8</key>
			<string>GET /Port/Set/0/7</string>
			<key>INPUT 1 TO OUTPUT 9</key>
			<string>GET /Port/Set/0/8</string>
			<key>INPUT 1 TO OUTPUT 10</key>
			<string>GET /Port/Set/0/9</string>

			<key>INPUT 2 TO OUTPUT 1</key>
			<string>GET /Port/Set/1/0</string>
			<key>INPUT 2 TO OUTPUT 2</key>
			<string>GET /Port/Set/1/1</string>
			<key>INPUT 2 TO OUTPUT 3</key>
			<string>GET /Port/Set/1/2</string>
			<key>INPUT 2 TO OUTPUT 4</key>
			<string>GET /Port/Set/1/3</string>
			<key>INPUT 2 TO OUTPUT 5</key>
			<string>GET /Port/Set/1/4</string>
			<key>INPUT 2 TO OUTPUT 6</key>
			<string>GET /Port/Set/1/5</string>
			<key>INPUT 2 TO OUTPUT 7</key>
			<string>GET /Port/Set/1/6</string>
			<key>INPUT 2 TO OUTPUT 8</key>
			<string>GET /Port/Set/1/7</string>
			<key>INPUT 2 TO OUTPUT 9</key>
			<string>GET /Port/Set/1/8</string>
			<key>INPUT 2 TO OUTPUT 10</key>
			<string>GET /Port/Set/1/9</string>

			<key>INPUT 3 TO OUTPUT 1</key>
			<string>GET /Port/Set/2/0</string>
			<key>INPUT 3 TO OUTPUT 2</key>
			<string>GET /Port/Set/2/1</string>
			<key>INPUT 3 TO OUTPUT 3</key>
			<string>GET /Port/Set/2/2</string>
			<key>INPUT 3 TO OUTPUT 4</key>
			<string>GET /Port/Set/2/3</string>
			<key>INPUT 3 TO OUTPUT 5</key>
			<string>GET /Port/Set/2/4</string>
			<key>INPUT 3 TO OUTPUT 6</key>
			<string>GET /Port/Set/2/5</string>
			<key>INPUT 3 TO OUTPUT 7</key>
			<string>GET /Port/Set/2/6</string>
			<key>INPUT 3 TO OUTPUT 8</key>
			<string>GET /Port/Set/2/7</string>
			<key>INPUT 3 TO OUTPUT 9</key>
			<string>GET /Port/Set/2/8</string>
			<key>INPUT 3 TO OUTPUT 10</key>
			<string>GET /Port/Set/2/9</string>

			<key>INPUT 4 TO OUTPUT 1</key>
			<string>GET /Port/Set/3/0</string>
			<key>INPUT 4 TO OUTPUT 2</key>
			<string>GET /Port/Set/3/1</string>
			<key>INPUT 4 TO OUTPUT 3</key>
			<string>GET /Port/Set/3/2</string>
			<key>INPUT 4 TO OUTPUT 4</key>
			<string>GET /Port/Set/3/3</string>
			<key>INPUT 4 TO OUTPUT 5</key>
			<string>GET /Port/Set/3/4</string>
			<key>INPUT 4 TO OUTPUT 6</key>
			<string>GET /Port/Set/3/5</string>
			<key>INPUT 4 TO OUTPUT 7</key>
			<string>GET /Port/Set/3/6</string>
			<key>INPUT 4 TO OUTPUT 8</key>
			<string>GET /Port/Set/3/7</string>
			<key>INPUT 4 TO OUTPUT 9</key>
			<string>GET /Port/Set/3/8</string>
			<key>INPUT 4 TO OUTPUT 10</key>
			<string>GET /Port/Set/3/9</string>

			<key>INPUT 5 TO OUTPUT 1</key>
			<string>GET /Port/Set/4/0</string>
			<key>INPUT 5 TO OUTPUT 2</key>
			<string>GET /Port/Set/4/1</string>
			<key>INPUT 5 TO OUTPUT 3</key>
			<string>GET /Port/Set/4/2</string>
			<key>INPUT 5 TO OUTPUT 4</key>
			<string>GET /Port/Set/4/3</string>
			<key>INPUT 5 TO OUTPUT 5</key>
			<string>GET /Port/Set/4/4</string>
			<key>INPUT 5 TO OUTPUT 6</key>
			<string>GET /Port/Set/4/5</string>
			<key>INPUT 5 TO OUTPUT 7</key>
			<string>GET /Port/Set/4/6</string>
			<key>INPUT 5 TO OUTPUT 8</key>
			<string>GET /Port/Set/4/7</string>
			<key>INPUT 5 TO OUTPUT 9</key>
			<string>GET /Port/Set/4/8</string>
			<key>INPUT 5 TO OUTPUT 10</key>
			<string>GET /Port/Set/4/9</string>

			<key>INPUT 6 TO OUTPUT 1</key>
			<string>GET /Port/Set/5/0</string>
			<key>INPUT 6 TO OUTPUT 2</key>
			<string>GET /Port/Set/5/1</string>
			<key>INPUT 6 TO OUTPUT 3</key>
			<string>GET /Port/Set/5/2</string>
			<key>INPUT 6 TO OUTPUT 4</key>
			<string>GET /Port/Set/5/3</string>
			<key>INPUT 6 TO OUTPUT 5</key>
			<string>GET /Port/Set/5/4</string>
			<key>INPUT 6 TO OUTPUT 6</key>
			<string>GET /Port/Set/5/5</string>
			<key>INPUT 6 TO OUTPUT 7</key>
			<string>GET /Port/Set/5/6</string>
			<key>INPUT 6 TO OUTPUT 8</key>
			<string>GET /Port/Set/5/7</string>
			<key>INPUT 6 TO OUTPUT 9</key>
			<string>GET /Port/Set/5/8</string>
			<key>INPUT 6 TO OUTPUT 10</key>
			<string>GET /Port/Set/5/9</string>

			<key>INPUT 7 TO OUTPUT 1</key>
			<string>GET /Port/Set/6/0</string>
			<key>INPUT 7 TO OUTPUT 2</key>
			<string>GET /Port/Set/6/1</string>
			<key>INPUT 7 TO OUTPUT 3</key>
			<string>GET /Port/Set/6/2</string>
			<key>INPUT 7 TO OUTPUT 4</key>
			<string>GET /Port/Set/6/3</string>
			<key>INPUT 7 TO OUTPUT 5</key>
			<string>GET /Port/Set/6/4</string>
			<key>INPUT 7 TO OUTPUT 6</key>
			<string>GET /Port/Set/6/5</string>
			<key>INPUT 7 TO OUTPUT 7</key>
			<string>GET /Port/Set/6/6</string>
			<key>INPUT 7 TO OUTPUT 8</key>
			<string>GET /Port/Set/6/7</string>
			<key>INPUT 7 TO OUTPUT 9</key>
			<string>GET /Port/Set/6/8</string>
			<key>INPUT 7 TO OUTPUT 10</key>
			<string>GET /Port/Set/6/9</string>

			<key>INPUT 8 TO OUTPUT 1</key>
			<string>GET /Port/Set/7/0</string>
			<key>INPUT 8 TO OUTPUT 2</key>
			<string>GET /Port/Set/7/1</string>
			<key>INPUT 8 TO OUTPUT 3</key>
			<string>GET /Port/Set/7/2</string>
			<key>INPUT 8 TO OUTPUT 4</key>
			<string>GET /Port/Set/7/3</string>
			<key>INPUT 8 TO OUTPUT 5</key>
			<string>GET /Port/Set/7/4</string>
			<key>INPUT 8 TO OUTPUT 6</key>
			<string>GET /Port/Set/7/5</string>
			<key>INPUT 8 TO OUTPUT 7</key>
			<string>GET /Port/Set/7/6</string>
			<key>INPUT 8 TO OUTPUT 8</key>
			<string>GET /Port/Set/7/7</string>
			<key>INPUT 8 TO OUTPUT 9</key>
			<string>GET /Port/Set/7/8</string>
			<key>INPUT 8 TO OUTPUT 10</key>
			<string>GET /Port/Set/7/9</string>
		</dict>
		<key>method</key>
		<string>http</string>
		<key>type</key>
		<integer>21</integer>
	</dict>
</array>
</plist>
